# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test1\DATN_2-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
